@import "./assets/styles/Afisha.scss";
@import "./assets/styles/DownLoad.scss";
@import "./assets/styles/Header.scss";
@import "./assets/styles/Questions.scss";
@import "./assets/styles/Hero.scss";
@import "./assets/styles/Directions.scss";
@import './assets/styles/Foorter.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

body {
  background: rgba(239, 239, 239, 1);
  font-family: sans-serif;
}

a {
    text-decoration: none;
}